<table *ngIf="dataSource" style="width:50%">
  <tr>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Alias</th> 
    <th style="text-align: left">Last Reading</th>
  </tr>
  <tr *ngFor="let sensor of sensorArray">
    <td>{{sensor.unitName}}</td>
    <td>{{sensor.alias || null}}</td> 
    <td>{{sensor.dataReadings[0].value}}</td>
  </tr>
</table>

<div>
  <mat-table [dataSource]="dataSource.filteredData">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let sensor"> {{sensor.sensorId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="alias">
      <mat-header-cell *matHeaderCellDef> Alias </mat-header-cell>
      <mat-cell *matCellDef="let sensor"> {{sensor.alias}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastReading">
      <mat-header-cell *matHeaderCellDef> Last Reading </mat-header-cell>
      <mat-cell *matCellDef="let sensor"> {{sensor.dataReading[0]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<p>test to seee if sensor service is working {{sensorArray|json}}</p>
