<table mat-table [dataSource]="dataSource" class="sensor-table">

       <ng-container matColumnDef="sensID">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let tableInfo"> {{tableInfo.sensID|json}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name  </th>
        <td mat-cell *matCellDef="let tableInfo"> {{tableInfo.name|json}} </td>
    </ng-container>

    <ng-container matColumnDef="reading">
        <th mat-header-cell *matHeaderCellDef> Last Reading </th>
        <td mat-cell *matCellDef="let tableInfo"> {{tableInfo.reading|json}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>

</table>

<p>RAW_DATA {{tableInfo|json}}</p>
<p>SENSORS {{tableInfo.sensors|json}}</p>
<p>READINGS {{tableInfo.readings|json}}</p>
